<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sih_hackathon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>Privacy - Photo Library Usage Description<string>
   	<key>NSCameraUsageDescription</key>
    <string>Camera permission is required for QR scanning & Privacy - Camera Usage Description</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>comgooglemaps</string>
        <string>baidumap</string>
        <string>iosamap</string>
        <string>waze</string>
        <string>yandexmaps</string>
        <string>yandexnavi</string>
    </array>
    <string>When in use permissions</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>always permissions</string>
    <key>NSLocationAlwaysAndWhenInUsageDescription</key>
    <string>Always and in usage permissions</string>
    <key>NSMicrophoneUsageDescription</key>
   	<string>Privacy - Microphone Usage Description<string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
    <key>CFBundleURLTypes</key>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<array>
        	<dict>
        		<key>CFBundleTypeRole</key>
        		<string>Editor</string>
        		<key>CFBundleURLSchemes</key>
        		<array>
        			<!-- TODO Replace this value: -->
        			<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
        			<string>com.googleusercontent.apps.568764532110-m1klonjdcoc6qf3hen0qgj8d1ovhj2ce</string>
        		</array>
        	</dict>
        </array>
</dict>
</plist>
