<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568764532110-m1klonjdcoc6qf3hen0qgj8d1ovhj2ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568764532110-m1klonjdcoc6qf3hen0qgj8d1ovhj2ce</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>568764532110-vcus84rqf7ihippnuuqs248nmk938aph.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjjoaURY-AJj66e9x3_ZSsvRHV9tfksn4</string>
	<key>GCM_SENDER_ID</key>
	<string>568764532110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sihhackathon</string>
	<key>PROJECT_ID</key>
	<string>sihhackathon-99c65</string>
	<key>STORAGE_BUCKET</key>
	<string>sihhackathon-99c65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568764532110:ios:d3ec108d8e50fb898190df</string>
	<key>DATABASE_URL</key>
	<string>https://sihhackathon-99c65.firebaseio.com</string>
</dict>
</plist>